/*
  Author:   Kirill Shmakov <k0ldbl00d@gmail.com>
  Date:     2017-02-09
*/
/* VARIABLES */
/* COMMON SETTINGS  */
input,
a.button,
label {
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 28px;
  height: 28px;
  vertical-align: middle;
  outline: none;
}
label {
  cursor: pointer;
}
textarea {
  font-family: monospace;
  outline: none;
}
/* EXTRA SIZES */
.x-small {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
}
.small {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
}
.big {
  font-size: 15px;
  height: 32px;
  line-height: 32px;
}
.x-big {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
/* BUTTONS */
input[type=button],
input[type=submit],
input[type=reset],
button,
a.button,
select {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  outline: none;
  white-space: normal;
  text-decoration: none;
  margin: 0;
  padding: 0 .5em;
  vertical-align: middle;
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
  background-color: #ddd;
  background: linear-gradient(to bottom, #f7f7f7, #c4c4c4);
  border-color: #b8b8b8;
  box-shadow: inset 0 0 2px #ffffff;
  color: #585858;
  text-shadow: 1px 1px 0 #eeeeee;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
a.button:hover,
select:hover {
  background: linear-gradient(to bottom, #ffffff, #ddd);
  text-shadow: 1px 1px 0 #ffffff;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active,
a.button:active,
select:active {
  background: linear-gradient(to top, #eeeeee, #cccccc);
}
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
button:focus,
a.button:focus,
select:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
button:disabled,
a.button:disabled,
select:disabled,
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled],
button[disabled],
a.button[disabled],
select[disabled] {
  background: none;
  background-color: #ddd;
  color: #939393;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].red,
input[type=submit].red,
input[type=reset].red,
button.red,
a.button.red,
select.red,
input[type=button].warning,
input[type=submit].warning,
input[type=reset].warning,
button.warning,
a.button.warning,
select.warning {
  background-color: #d00;
  background: linear-gradient(to bottom, #ff1111, #aa0000);
  border-color: #b80000;
  box-shadow: inset 0 0 2px #ff0000;
  text-shadow: 1px 1px 0 #ee1111;
  color: #ffdddd;
  text-shadow: 1px 1px 0 #bb0000;
}
input[type=button].red:hover,
input[type=submit].red:hover,
input[type=reset].red:hover,
button.red:hover,
a.button.red:hover,
select.red:hover,
input[type=button].warning:hover,
input[type=submit].warning:hover,
input[type=reset].warning:hover,
button.warning:hover,
a.button.warning:hover,
select.warning:hover {
  background: linear-gradient(to bottom, #ff2222, #d00);
  text-shadow: 1px 1px 0 #ff2222;
}
input[type=button].red:active,
input[type=submit].red:active,
input[type=reset].red:active,
button.red:active,
a.button.red:active,
select.red:active,
input[type=button].warning:active,
input[type=submit].warning:active,
input[type=reset].warning:active,
button.warning:active,
a.button.warning:active,
select.warning:active {
  background: linear-gradient(to top, #ee1111, #cc0000);
}
input[type=button].red:focus,
input[type=submit].red:focus,
input[type=reset].red:focus,
button.red:focus,
a.button.red:focus,
select.red:focus,
input[type=button].warning:focus,
input[type=submit].warning:focus,
input[type=reset].warning:focus,
button.warning:focus,
a.button.warning:focus,
select.warning:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].red:disabled,
input[type=submit].red:disabled,
input[type=reset].red:disabled,
button.red:disabled,
a.button.red:disabled,
select.red:disabled,
input[type=button].warning:disabled,
input[type=submit].warning:disabled,
input[type=reset].warning:disabled,
button.warning:disabled,
a.button.warning:disabled,
select.warning:disabled,
input[type=button].red[disabled],
input[type=submit].red[disabled],
input[type=reset].red[disabled],
button.red[disabled],
a.button.red[disabled],
select.red[disabled],
input[type=button].warning[disabled],
input[type=submit].warning[disabled],
input[type=reset].warning[disabled],
button.warning[disabled],
a.button.warning[disabled],
select.warning[disabled] {
  background: none;
  background-color: #d00;
  color: #930000;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].green,
input[type=submit].green,
input[type=reset].green,
button.green,
a.button.green,
select.green,
input[type=button].ok,
input[type=submit].ok,
input[type=reset].ok,
button.ok,
a.button.ok,
select.ok {
  background-color: #0a0;
  background: linear-gradient(to bottom, #00dd00, #007700);
  border-color: #008e00;
  box-shadow: inset 0 0 2px #00ff00;
  text-shadow: 1px 1px 0 #11bb11;
  color: #aaffaa;
  text-shadow: 1px 1px 0 #008800;
}
input[type=button].green:hover,
input[type=submit].green:hover,
input[type=reset].green:hover,
button.green:hover,
a.button.green:hover,
select.green:hover,
input[type=button].ok:hover,
input[type=submit].ok:hover,
input[type=reset].ok:hover,
button.ok:hover,
a.button.ok:hover,
select.ok:hover {
  background: linear-gradient(to bottom, #22cc22, #0a0);
  text-shadow: 1px 1px 0 #22cc22;
}
input[type=button].green:active,
input[type=submit].green:active,
input[type=reset].green:active,
button.green:active,
a.button.green:active,
select.green:active,
input[type=button].ok:active,
input[type=submit].ok:active,
input[type=reset].ok:active,
button.ok:active,
a.button.ok:active,
select.ok:active {
  background: linear-gradient(to top, #11bb11, #009900);
}
input[type=button].green:focus,
input[type=submit].green:focus,
input[type=reset].green:focus,
button.green:focus,
a.button.green:focus,
select.green:focus,
input[type=button].ok:focus,
input[type=submit].ok:focus,
input[type=reset].ok:focus,
button.ok:focus,
a.button.ok:focus,
select.ok:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].green:disabled,
input[type=submit].green:disabled,
input[type=reset].green:disabled,
button.green:disabled,
a.button.green:disabled,
select.green:disabled,
input[type=button].ok:disabled,
input[type=submit].ok:disabled,
input[type=reset].ok:disabled,
button.ok:disabled,
a.button.ok:disabled,
select.ok:disabled,
input[type=button].green[disabled],
input[type=submit].green[disabled],
input[type=reset].green[disabled],
button.green[disabled],
a.button.green[disabled],
select.green[disabled],
input[type=button].ok[disabled],
input[type=submit].ok[disabled],
input[type=reset].ok[disabled],
button.ok[disabled],
a.button.ok[disabled],
select.ok[disabled] {
  background: none;
  background-color: #0a0;
  color: #007100;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].blue,
input[type=submit].blue,
input[type=reset].blue,
button.blue,
a.button.blue,
select.blue {
  background-color: #26b;
  background: linear-gradient(to bottom, #367fda, #1a4e90);
  border-color: #1c559c;
  box-shadow: inset 0 0 2px #66ffff;
  text-shadow: 1px 1px 0 #3377cc;
  color: #ddecff;
  text-shadow: 1px 1px 0 #004499;
}
input[type=button].blue:hover,
input[type=submit].blue:hover,
input[type=reset].blue:hover,
button.blue:hover,
a.button.blue:hover,
select.blue:hover {
  background: linear-gradient(to bottom, #4488dd, #26b);
  text-shadow: 1px 1px 0 #4488dd;
}
input[type=button].blue:active,
input[type=submit].blue:active,
input[type=reset].blue:active,
button.blue:active,
a.button.blue:active,
select.blue:active {
  background: linear-gradient(to top, #3377cc, #1155aa);
}
input[type=button].blue:focus,
input[type=submit].blue:focus,
input[type=reset].blue:focus,
button.blue:focus,
a.button.blue:focus,
select.blue:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].blue:disabled,
input[type=submit].blue:disabled,
input[type=reset].blue:disabled,
button.blue:disabled,
a.button.blue:disabled,
select.blue:disabled,
input[type=button].blue[disabled],
input[type=submit].blue[disabled],
input[type=reset].blue[disabled],
button.blue[disabled],
a.button.blue[disabled],
select.blue[disabled] {
  background: none;
  background-color: #26b;
  color: #17447d;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].lime,
input[type=submit].lime,
input[type=reset].lime,
button.lime,
a.button.lime,
select.lime {
  background-color: #be4;
  background: linear-gradient(to bottom, #ccf273, #aaea15);
  border-color: #9cc639;
  box-shadow: inset 0 0 2px #ffffcc;
  color: #4b5f1b;
  text-shadow: 1px 1px 0 #ccff55;
}
input[type=button].lime:hover,
input[type=submit].lime:hover,
input[type=reset].lime:hover,
button.lime:hover,
a.button.lime:hover,
select.lime:hover {
  background: linear-gradient(to bottom, #ddff66, #be4);
  text-shadow: 1px 1px 0 #ddff66;
}
input[type=button].lime:active,
input[type=submit].lime:active,
input[type=reset].lime:active,
button.lime:active,
a.button.lime:active,
select.lime:active {
  background: linear-gradient(to top, #ccff55, #aadd33);
}
input[type=button].lime:focus,
input[type=submit].lime:focus,
input[type=reset].lime:focus,
button.lime:focus,
a.button.lime:focus,
select.lime:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].lime:disabled,
input[type=submit].lime:disabled,
input[type=reset].lime:disabled,
button.lime:disabled,
a.button.lime:disabled,
select.lime:disabled,
input[type=button].lime[disabled],
input[type=submit].lime[disabled],
input[type=reset].lime[disabled],
button.lime[disabled],
a.button.lime[disabled],
select.lime[disabled] {
  background: none;
  background-color: #be4;
  color: #7d9f2d;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].orange,
input[type=submit].orange,
input[type=reset].orange,
button.orange,
a.button.orange,
select.orange {
  background-color: #e80;
  background: linear-gradient(to bottom, #ffa022, #bb6b00);
  border-color: #c67100;
  box-shadow: inset 0 0 2px #ffff00;
  text-shadow: 1px 1px 0 #ff9911;
  color: #fff8ee;
  text-shadow: 1px 1px 0 #cc6600;
}
input[type=button].orange:hover,
input[type=submit].orange:hover,
input[type=reset].orange:hover,
button.orange:hover,
a.button.orange:hover,
select.orange:hover {
  background: linear-gradient(to bottom, #ffaa22, #e80);
  text-shadow: 1px 1px 0 #ffaa22;
}
input[type=button].orange:active,
input[type=submit].orange:active,
input[type=reset].orange:active,
button.orange:active,
a.button.orange:active,
select.orange:active {
  background: linear-gradient(to top, #ff9911, #dd7700);
}
input[type=button].orange:focus,
input[type=submit].orange:focus,
input[type=reset].orange:focus,
button.orange:focus,
a.button.orange:focus,
select.orange:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].orange:disabled,
input[type=submit].orange:disabled,
input[type=reset].orange:disabled,
button.orange:disabled,
a.button.orange:disabled,
select.orange:disabled,
input[type=button].orange[disabled],
input[type=submit].orange[disabled],
input[type=reset].orange[disabled],
button.orange[disabled],
a.button.orange[disabled],
select.orange[disabled] {
  background: none;
  background-color: #e80;
  color: #9f5b00;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].obsidian,
input[type=submit].obsidian,
input[type=reset].obsidian,
button.obsidian,
a.button.obsidian,
select.obsidian {
  background-color: #334;
  background: linear-gradient(to bottom, #494961, #1d1d27);
  border-color: #2b2b39;
  box-shadow: inset 0 0 2px #9999cc;
  text-shadow: 1px 1px 0 #444455;
  color: #a8a8ce;
  text-shadow: 1px 1px 0 #111122;
}
input[type=button].obsidian:hover,
input[type=submit].obsidian:hover,
input[type=reset].obsidian:hover,
button.obsidian:hover,
a.button.obsidian:hover,
select.obsidian:hover {
  background: linear-gradient(to bottom, #555566, #334);
  text-shadow: 1px 1px 0 #555566;
}
input[type=button].obsidian:active,
input[type=submit].obsidian:active,
input[type=reset].obsidian:active,
button.obsidian:active,
a.button.obsidian:active,
select.obsidian:active {
  background: linear-gradient(to top, #444455, #222233);
}
input[type=button].obsidian:focus,
input[type=submit].obsidian:focus,
input[type=reset].obsidian:focus,
button.obsidian:focus,
a.button.obsidian:focus,
select.obsidian:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].obsidian:disabled,
input[type=submit].obsidian:disabled,
input[type=reset].obsidian:disabled,
button.obsidian:disabled,
a.button.obsidian:disabled,
select.obsidian:disabled,
input[type=button].obsidian[disabled],
input[type=submit].obsidian[disabled],
input[type=reset].obsidian[disabled],
button.obsidian[disabled],
a.button.obsidian[disabled],
select.obsidian[disabled] {
  background: none;
  background-color: #334;
  color: #22222d;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].black,
input[type=submit].black,
input[type=reset].black,
button.black,
a.button.black,
select.black {
  background-color: #222;
  background: linear-gradient(to bottom, #3c3c3c, #090909);
  border-color: #1c1c1c;
  box-shadow: inset 0 0 2px #666666;
  text-shadow: 1px 1px 0 #333333;
  color: #a2a2a2;
  text-shadow: 1px 1px 0 #000000;
}
input[type=button].black:hover,
input[type=submit].black:hover,
input[type=reset].black:hover,
button.black:hover,
a.button.black:hover,
select.black:hover {
  background: linear-gradient(to bottom, #444444, #222);
  text-shadow: 1px 1px 0 #444444;
}
input[type=button].black:active,
input[type=submit].black:active,
input[type=reset].black:active,
button.black:active,
a.button.black:active,
select.black:active {
  background: linear-gradient(to top, #333333, #111111);
}
input[type=button].black:focus,
input[type=submit].black:focus,
input[type=reset].black:focus,
button.black:focus,
a.button.black:focus,
select.black:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=button].black:disabled,
input[type=submit].black:disabled,
input[type=reset].black:disabled,
button.black:disabled,
a.button.black:disabled,
select.black:disabled,
input[type=button].black[disabled],
input[type=submit].black[disabled],
input[type=reset].black[disabled],
button.black[disabled],
a.button.black[disabled],
select.black[disabled] {
  background: none;
  background-color: #222;
  color: #171717;
  cursor: not-allowed;
  text-shadow: none;
}
input[type=button].x-small,
input[type=submit].x-small,
input[type=reset].x-small,
button.x-small,
a.button.x-small,
select.x-small,
.x-small input[type=button],
.x-small input[type=submit],
.x-small input[type=reset],
.x-small button,
.x-small a.button,
.x-small select {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
}
input[type=button].small,
input[type=submit].small,
input[type=reset].small,
button.small,
a.button.small,
select.small,
.small input[type=button],
.small input[type=submit],
.small input[type=reset],
.small button,
.small a.button,
.small select {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
}
input[type=button].big,
input[type=submit].big,
input[type=reset].big,
button.big,
a.button.big,
select.big,
.big input[type=button],
.big input[type=submit],
.big input[type=reset],
.big button,
.big a.button,
.big select {
  font-size: 15px;
  height: 32px;
  line-height: 32px;
}
input[type=button].x-big,
input[type=submit].x-big,
input[type=reset].x-big,
button.x-big,
a.button.x-big,
select.x-big,
.x-big input[type=button],
.x-big input[type=submit],
.x-big input[type=reset],
.x-big button,
.x-big a.button,
.x-big select {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
/* CHECKBOX, RADIO */
input[type=checkbox],
input[type=radio] {
  width: 20px;
  height: 20px;
  line-height: 28px;
}
.x-small input[type=checkbox],
.x-small input[type=radio] {
  width: 14px;
  height: 14px;
  line-height: 20px;
}
.small input[type=checkbox],
.small input[type=radio] {
  width: 16px;
  height: 16px;
  line-height: 24px;
}
.big input[type=checkbox],
.big input[type=radio] {
  width: 24px;
  height: 24px;
  line-height: 32px;
}
.x-big input[type=checkbox],
.x-big input[type=radio] {
  width: 30px;
  height: 30px;
  line-height: 40px;
}
label.x-small,
.x-small label {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
}
label.small,
.small label {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
}
label.big,
.big label {
  font-size: 15px;
  height: 32px;
  line-height: 32px;
}
label.x-big,
.x-big label {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
/* TEXT INPUTS */
input[type=text],
input[type=password] {
  border-color: #939393;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border-color: #b8b8b8;
  padding: 0 .3em;
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
  cursor: text;
}
input[type=text]:disabled,
input[type=password]:disabled {
  background-color: #ddd;
  color: #939393;
}
input[type=text]:focus,
input[type=password]:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
input[type=text].x-small,
input[type=password].x-small,
.x-small input[type=text],
.x-small input[type=password] {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
}
input[type=text].small,
input[type=password].small,
.small input[type=text],
.small input[type=password] {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
}
input[type=text].big,
input[type=password].big,
.big input[type=text],
.big input[type=password] {
  font-size: 15px;
  height: 32px;
  line-height: 32px;
}
input[type=text].x-big,
input[type=password].x-big,
.x-big input[type=text],
.x-big input[type=password] {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
textarea {
  border-color: #939393;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border-color: #b8b8b8;
  padding: 0 .3em;
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
  cursor: text;
}
textarea:disabled {
  background-color: #ddd;
  color: #939393;
}
textarea:focus {
  border-color: #48d;
  box-shadow: 0 0 5px rgba(68, 136, 221, 0.5);
}
:disabled,
.disabled,
[disabled] {
  cursor: not-allowed !important;
  text-shadow: none;
}
div.toolstrip {
  margin: 10px 0;
}
.control-group {
  display: inline-block;
  vertical-align: middle;
}
.control-group a,
.control-group button,
.control-group input {
  float: left;
  border-radius: 0px;
  border-right-width: 0;
}
.control-group :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.control-group :last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right-width: 1px;
}
